body {
  background-color: #f4eeff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  color: #424874;
}

.weather-app-container {
  background-color: #a6b1e1;
  width: 600px;
  height: 700px;
  border-radius: 30px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 10px 10px 10px rgb(228, 241, 254, 0.2);
}

.search-city-form {
  padding: 20px;
}

.input-city {
  height: 40px;
  width: 450px;
  font-size: 16px;
  border: none;
  padding: 5px;
  background-color: #f4eeff;
  color: #424874;
  border-radius: 5px;
}

.city-search-button {
  height: 50px;
  width: 90px;
  font-size: 16px;
  padding: 5px;
  background-color: #f4eeff;
  color: #424874;
  border-radius: 5px;
  border: none;
}

main {
  padding: 5px 20px;
}

h1 {
  text-align: center;
}

footer {
  ch: 50;
}
